        *{margin: 0px;
    padding: 0px;}
.container{
    width: 1140px;
    margin: 0px auto;
    }
body{
    font-family: 'Lato', sans-serif;
    }

    /* header start */
header{width: 100%;
    float: left;
height: 40px;}

.logo{
    width: 33%;
    float: left;
    margin: 0px auto;
    background-color: #f6f9f9;
    padding-left: 69px;
}
/* header end */

/* banner start */

.banner-section{
    width: 100%;
    float: left;
    background-color: #f6f9f9;
    margin: 0 auto;
    }
.banner{
    width: 100%;
    height: 804px;
    background: url(../img/banner.png) no-repeat; 
    background-size: cover;
    float: left;
    }
.banner h3{
    margin-top: 206px;
    text-align: center;
    font-size: 120px;
    color: white;}
span{
    border-bottom: 2px solid #15a4fa;
    display: block;
    width: 550px;
    margin: 30px auto; }
.banner h6{
    text-align: center;
    font-size: 22px;
    color:  #999999;
  
}
.banner .btn{  display: block;
    padding: 20px 35px;
    background: transparent;
    margin: 69px auto;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid #15a4fa;
}
 .banner i{
    width: 100%;
    float: left;
    padding-top: 104px; 
    text-align: center;
    }
.fa.fa-angle-down{
    font-size: 27px;
    color: white;
    }
  
.last{
    width: 100%;
    float: left;
    height: 350px;
    }
.last h3{text-align: center;
    font-size: 40px;
    padding-top: 79px;}
.last h6{text-align: center;
    font-size: 20px;
    margin: 19px;
color:  #999999;}
  /* banner end */

    /* service icon start*/

.service{
    float: left;
    width: 100%;
    background-color: white;
    }
.icon{
    width: 100%;
    float: left;
    text-align: center;
    margin: 34px 105px;
     
    }
.one{
    width: 20%;
    float: left;
    margin: 9px 26px;
    
}
.one h3{
    font-size: 22px;
    padding: 16px 0px;
}
.one h6{
    font-size: 15px;
    padding: 5px 0px;
    color:  #999999;
    }
.two{
    width: 20%;
    float: left;
    margin: 9px 26px;
}
.two h3{
    font-size: 22px;
    padding: 16px 0px;
    }
.two h6{
    font-size: 15px;
    padding: 5px 0px;
    color:  #999999;
    }
.three{
    width: 20%;
    float: left;
    margin: 9px 26px;
}
.three h3{
    font-size: 22px;
    padding: 16px 0px;
    }
.three h6{
    font-size: 15px;
    padding: 5px 0px;
    color:  #999999;
    }
.fa.fa-mobile{
    background: #48baff;
    border-radius: 18%;
    width: 60px;
    color: white;
    height: 69px;
    padding: 2px 0px 0px;
    font-size: 70px;
    text-align: center;
}
.fa.fa-paper-plane{
     
    background: #48baff;
     
    border-radius: 11%;
     
    color: white;
     
    width: 65px;
     
    height: 61px;
     
    padding: 10px 0px 0px;
     
    font-size: 40px;
     
    text-align: center;
}
.fa.fa-bullhorn{
    background: #48baff;
    border-radius: 11%;
    color: white;
    width: 63px;
    padding: 12px 0px 0px;
    height: 63px;
    font-size: 42px;
}
 /* service icon end*/

  /* portpholiyo start*/

.picture{
    width: 100%;
    height: 671px;
    float: left;
    background-color: #f6f9f9;
    }
.picture h2{font-size: 41px;
    text-align: center;
    margin: 10px 0px;}
.picture h6{font-size: 15px;
    text-align: center;
    margin: 6px 0px; 
    color:  #999999;}
 /* showcase start*/
.showcase{
    width: 60%;
    height: 420px;
    float: left;
    margin: 40px 194px;
    }
.showcase img{
    width: 180px;
    height: 176px;
    margin: 3px 8px;;
    }
.img-one{
    text-align: center;
}
.img-one .ru {width: 33%;
    float: left;
    transition: 2s;}

.img-one .ru:hover{transform:opacity:1;
     }

.img-one .au {float: left;
    width: 33%;
    transition: 2s;}

.img-one .au:hover{transform:opacity:1;
     }  

.img-one .bu {float: left;
    width: 33%;
    transition: 2s;}
.imh-one .bu:hover{transform:opacity:1;
     }  
.img-two{
    text-align: center;
}
.img-two .cu {float: left;
    width: 33%;
    transition: 2s;}

.img-two .cu:hover{transform:opacity:1;
     }

.img-two .du {width: 33%;
    float: left;
    transition: 2s;}

.img-two .du:hover{transform:opacity:1;
     }

.img-two .eu {float: left;
    width: 33%;
    transition: 2s;}

.img-two .eu:hover{transform:opacity:1;
     }

     /* showcase end*/

     /* join start*/

.join{
    float: left;
    width: 100%;
    height: 690px;
    background-color: #2d384c;
    }
.join h2{font-size: 41px;
    padding: 26px 0px;
    text-align: center;
    color: white;}
.join h6{font-size: 15px;
    padding: 26px 0px;
    text-align: center;
    color: white;
    color: #999999}
.form-service{ 
    width: 100%;
    float: left; 
    display: block;}
.Full {
    width: 554px; 
    height: 58px;
    float: left;
    margin: 6px 200px;
    background-color: #2d384c;
    font-size: 15px;
    padding: 0px 17px;
    }
.Full-two{
    width: 554px;
    height: 58px;
    float: left;
    margin: 12px 200px;
    background-color: #2d384c;
    padding: 0px 17px;
    }

.textarea{
    width: 554px;
    height:  162px;
    float: left;
    padding: 12px 17px;
    margin: 0px 200px;
    background-color: #2d384c;
    font-size: 15px;
    text-align: left;
    }
.checkbox{
        width: 20px;
        float: left;
        margin-top: 17px;
        margin-left: 212px;
        }

p{      color: #999999;
        float: left;
        margin: 11px 10px;
        }
.btn-four{
    padding: 12px 35px;
    background: transparent;
    margin: 0px 638px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #15a4fa;
    }
     /* join end*/
     /* footer start*/
footer{
    width: 100%;
    float: left;
    text-align: 
    center;
    background-color: #f6f9f9;
    }
     
 footer .copyright{
    width: 50%; 
    float: left;  
    }

.copyright h6{
    text-align: center;
    color:#b5b6b6;
    font-size: 15px;
    margin: 4px 0px;
    }
     /* footer icon start*/
footer .last-icon{
    width: 50%;
    float: left;
    text-align: center;
    padding: 4px;}
.fa.fa-facebook{
    background: #48baff;
    width: 19px;
    color: white;
    height: 22px;
    margin: 1px;
    padding: 5px 4px 0px;
    font-size: 15px;
    border-radius: 11%; 
}
.fa.fa-twitter{
    background: #48baff;
    width: 19px;
    color: white;
    height: 22px;
    margin: 1px;
    padding: 5px 4px 0px;
    font-size: 15px;
    border-radius: 11%;
    }
  
.fa.fa-linkedin{
    background: #48baff;
    width: 19px;
    color: white;
    height: 22px;
    padding: 5px 4px 0px;
    font-size: 15px;
    margin: 1px;
    border-radius: 11%;
    }
.fa.fa-google-plus{
    background: #48baff;
    width: 19px;
    color: white;
    height: 22px;
    padding: 4px 4px 0px;
    font-size: 15px;
    margin: 1px;
    border-radius: 11%;
    }
     /* footer icon  end*/

      /* footer  end*/

        /* mobile device start */
    @media (min-width: 0px) and (max-width: 500px){ .banner-section{width: 100%;
        color: blue;
        }}
          /* mobile device end */
            /* small device start*/
    @media (min-width: 500.01px) and (max-width: 768px){}
            /* small device end*/
            /* medium device start*/
    @media (min-width: 768.01px) and (max-width: 1199px){
        
    }
             /* medium device end*/
             /* large device start*/
    @media (min-width:1200.01px){}
              /* large device end*/


